<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="p-2">

    <h1 class="font-bold mb-2"><i class="fa-solid fa-user-plus"></i> 회원가입</h1>

    <form class="flex flex-col gap-4" method="POST" onsubmit="submitJoinForm(this); return false;">
        <div class="form-control">
            <label class="label">
                <span class="label-text">아이디</span>
            </label>
            <input type="text" name="username" placeholder="아이디를 입력해주세요." class="input input-bordered">
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">비밀번호</span>
            </label>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요." class="input input-bordered">
        </div>

        <button class="btn btn-primary btn-block" type="submit">
            <i class="fa-solid fa-user-plus"></i> 회원가입
        </button>
    </form>

    <script>
        function submitJoinForm(form) {
            const inputUsername = form.username;
            const inputPassword = form.password;

            inputUsername.value = inputUsername.value.trim();
            inputPassword.value = inputPassword.value.trim();

            const username = inputUsername.value;
            const password = inputPassword.value;

            if (username.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                inputUsername.focus();

                return;
            }

            if (password.length == 0) {
                toastWarning('비밀번호를 입력해주세요.');
                inputPassword.focus();

                return;
            }

            form.submit();
        }
    </script>

</div>

</html>