<a href="http://localhost:8020/article/doWrite?title=제목임&body=내용임">
    전송
</a>
<hr>
<form method="POST" action="/article/write" onsubmit="submitWriteForm(this); return false;"
      style="display: flex; flex-direction: column; gap:20px; max-width:500px;">
    <input type="text" name="title" placeholder="제목">

    <input type="text" name="body" placeholder="내용">

    <!-- javascript:; 는 아무것도 하지 않는다는 뜻 -->
    <button type="submit">
        글쓰기
    </button>
    <input type="submit" value="글쓰기" onclick="submitWriteForm();">
</form>

<script>
    function submitWriteForm(form) {
        const inputTitle = form.title;
        const inputBody = form.body;

        inputTitle.value = inputTitle.value.trim();
        inputBody.value = inputBody.value.trim();

        const title = inputTitle.value;
        const body = inputBody.value;

        if (title.length == 0) {
            alert('제목을 입력해주세요.');
            inputTitle.focus();

            return;
        }

        if (body.length == 0) {
            alert('내용을 입력해주세요.');
            inputBody.focus();

            return;
        }

        form.submit();
    }
</script>