<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIMPLE</title>
</head>
<body>

<ul style="display: flex; gap: 20px;">
    <li><a href="/article/write">글 쓰기</a></li>
    <li><a href="/article/list">글 목록</a></li>
</ul>

<th:block layout:fragment="content"></th:block>

</body>
</html>